body {
    background: url("images/main_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

a {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: red;
    font-family: Arial;
}